.Header-text {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.container {
  display: flex;
  flex: 1 1;
  justify-content: center;
  text-align: center;
  
}

.but {
  background-color: rgb(215, 222, 38);
  color: #fff;
  padding: 5px;
  border: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

.form {
  background-color: #0c9169;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.chart {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.max-container {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}

input {
  width: auto;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
  box-sizing: border-box;
}

label {
  color: #fff;
  padding: 5px;
}
