body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 50px;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("img/ExpenseBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.struct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
}

.form-container {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hide all forms */
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  border-style: solid;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 20px; /* Adjust as needed */
  
}

.column_left {
}

.row {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #0c9169;
  border-radius: 20px;
}

/* Style for the buttons */
.column button {
  padding: 10px;
  margin: 10px auto; /* Adjust the space between buttons */
  font-size: 16px; /* Adjust the font size */
  color: #ffffff;
  background-color: #0c9169;
  
}

/*Style columns differently */
.column:nth-child(odd) {
}

/*Responsive design */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    float: none;
  }
}

.add-expense {
  background-color: white;
}

.column {
  display: flex;
  justify-content: center;
}

.table {
  background-color: white;
}
